PyQt6-Qt6==6.4.2
PyQt6==6.4.2
numpy
urllib3==1.26.18
jaconv
torch
torchvision
transformers
fugashi
unidic_lite
tqdm
opencv-python
shapely
pyclipper
einops
termcolor
bs4
deepl
qtpy
spacy-pkuseg
ctranslate2
python-docx
docx2txt
piexif
keyboard
ordered-set
opencc-python-reimplemented
requests
Pillow
beautifulsoup4
colorama
openai
pyyaml
natsort
py7zr
multivolumefile
httpx[socks,brotli]
langdetect
pywin32; sys_platform == 'win32'
winsdk; sys_platform == 'win32'
brotlicffi; sys_platform == 'win32'
pyobjc-core; sys_platform == 'darwin'
pyobjc-framework-cocoa; sys_platform == 'darwin'
pyobjc-framework-coreml; sys_platform == 'darwin'
pyobjc-framework-quartz; sys_platform == 'darwin'
pyobjc-framework-vision; sys_platform == 'darwin'
